<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/filepond.css" rel="stylesheet" />
    <link
      href="/stylesheets/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link href="/stylesheets/filepond-plugin-image-edit.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/boiler.css" />
    <link rel="stylesheet" href="/stylesheets/fnav.css" />
    <link rel="stylesheet" href="/stylesheets/profcrop.css" />
    <title>Document</title>
  </head>
  <section class="section pattern-bg-2" style="width: 100%">
    <%-include('../partials/fnavbar')%><%-include('../partials/searchmodal')%>
  </section>
  <body class="is-flex is-flex-direction-column" style="height: 100vh">
    <section class="pattern-bg-2" style="height: 100%; color: white">
      <main
        class="container is-max-desktop column is-half-desktop is-three-quarters-tablet is-full-mobile"
        id="edit-container"
        style="display: none"
      >
        <div
          class="notification is-success has-text-centered"
          id="profile-save"
          style="display: none"
        >
          New Changes Saved
        </div>

        <!-- <p class="has-text-centered is-size-3 mb-5">Preview</p> -->
        <div class="columns box is-mobile">
          <div class="column is-narrow">
            <div
              id="initial-preview"
              style="
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
              "
            >
              <img src="<%=user.profile.avatar.url%>" alt="" />
            </div>
            <div
              id="avatar-preview"
              style="
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
                display: none;
              "
            ></div>
          </div>
          <div class="column">
            <div class="title">
              <span id="name-preview"> <%=user.profile.name%> </span>
            </div>
            <p class="subtitle"><%=user.username%></p>
            <p id="bio-preview"><%= user.profile.bio%></p>
          </div>
        </div>

        <!-- <hr class="rounded" /> -->
        <form class="edit-profile-form" id="<%=user.username%>">
          <div class="field">
            <div class="control">
              <input type="file" class="my-pond" name="image" />
            </div>
          </div>
          <%-include('../partials/crop')%>
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                name="profile[name]"
                id="name"
                placeholder="Name..."
                value="<%=user.profile.name%>"
                maxlength="50"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea
                class="textarea desc-area"
                id="bio"
                name="profile[bio]"
                placeholder="description..."
              >
<%=user.profile.bio%></textarea
              >
            </div>
          </div>
          <button
            class="button is-primary"
            id="edit-profile-submit-button"
            type="submit"
          >
            Save
          </button>
          <button type="button" class="button">
            <a href="/user/profile" style="color: black">Cancel</a>
          </button>
        </form>
      </main>
    </section>
    <%-include('../partials/footer')%>
    <%-include('../partials/filepondscripts')%>
    <script src="/scripts/profupload.js"></script>
    <script>
      if (performance.navigation.type == 2) {
        location.reload(true);
      }
    </script>
    <script>
      $(document).ready((e) => {
        $("#name").on("input", () => {
          $("#name-preview").text($("#name").val());
        });
        $("#bio").on("input", () => {
          $("#bio-preview").text($("#bio").val());
        });
        // e.preventDefault();
      });
    </script>
    <script>
      $(".desc-area")
        .each(function () {
          this.setAttribute(
            "style",
            "height:" + this.scrollHeight + "px;overflow-y:hidden;"
          );
        })
        .on("input", function () {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + "px";
        });
    </script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/modal.js"></script>
  </body>
</html>
