<% layout('layout/boilerplate') -%>

<div class="columns is-mobile is-centered">
  <div
    class="column is-half-desktop is-three-quarters-tablet is-three-quarters-mobile"
  >
    <%for(var i = user.nfs.length-1; i >= 0; i--){%>
    <div
      class="message <%if(user.nfs[i].read === false){%>is-danger<%}else{%>is-info<%}%>"
      id="nfs-<%=user.nfs[i].id%>"
    >
      <div class="message-body">
        <p class="subtitle">
          <%-user.nfs[i].body%> <span><%=user.nfs[i].time%></span>
        </p>
        <form class="nfs-form" action="" id="<%=user.nfs[i].id%>">
          <%if(user.nfs[i].read === false){%>
          <button id="nbtn-<%=user.nfs[i].id%>">
            <i class="fas fa-check"></i>
          </button>
          <%}%>
        </form>
      </div>
    </div>
    <%}%>
  </div>
</div>

<script>
  $(".nfs-form").on("submit", function (e) {
    const id = $(this).attr("id");
    const newurl = "/user/profile/<%=user.username%>/nfs/" + id;
    $.ajax({
      type: "POST",
      url: newurl,
      dataType: "json",
      success: function (data) {
        if (data.message === "read successfully") {
          $("#nbtn-" + id).css("display", "none");
          $("#nfs-" + id).removeClass("is-danger");
          $("#nfs-" + id).addClass("is-info");
        }
      },
      error: function (error) {
        alert(JSON.parse(error));
      },
    });

    e.preventDefault();
  });
</script>
