<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/3.0.0/plugins/rias/ls.rias.min.js"
      async
    ></script>
    <script
      src="//cdn.jsdelivr.net/g/lazysizes(lazysizes.min.js)"
      async=""
    ></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/slick-theme.css" />
  <link rel="stylesheet" href="/stylesheets/boiler.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css" />
  <link rel="stylesheet" href="/stylesheets/fnav.css" />
  <title>Post-Share - <%= user_profile.username %>'s Profile</title>
</head>
<section class="section">
  <%-include('../partials/fnavbar')%>
  <%-include('../partials/searchmodal')%>
</section>

<body class="is-flex is-flex-direction-column" style="height: 100vh;">
  <!-- <div class="pageloader is-light"><span class="title">Loading...</span></div> -->
  
  <div class="profile-wrapper">
    <div class="avatar">
      <figure class="image">
        <img class="is-rounded" src="<%=user_profile.profile.avatar.url%>">
      </figure>
    </div>
    <div class="profile-info">
      <p class="username">
        <%=user_profile.username%>
      </p>
      <div class="name">
        <%=user_profile.profile.name%>
      </div>
      <p class="bio">
        <%= user_profile.profile.bio%>
      </p>
    </div>
    <div class="icon-text edit-profile">
      <% if (user.id == user_profile.id) { %>
      <a href="/user/profile/<%=user_profile.username%>/edit">
        <span class="icon">
          <i class="fas fa-user-edit"></i>
        </span>
        <span class="is-hidden-mobile">Edit Profile</span>
      </a>
      <% } %>
    </div>


  </div>

  <div class="posted-posts">
    <hr>
    <div
      class="container is-max-desktop column is-two-fifths-desktop is-three-quarters-tablet is-full-mobile">
      <p class="title has-text-centered has-text-dark is-4">
        Posted Posts
      </p>
      <% if (posts.length>0) { %>
      <% for(let post of posts) { %>
      <div class="card mb-5" style="max-width: 500px; margin: auto">
        <%if(post.image.length == 0){%>
          <div class="card-image" style="display: none"></div>

        <%}else if(post.image.length == 1){%>
          <div class="card-image" style="max-height: 100%">
            <figure class="image">
              <img
              alt=""
              class="lazyload blur-up"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-expand="-110"
              data-src="<%=post.image[0].url%>"
              />
            </figure>
          </div>

        <%}else{%>
    <div class="container is-clipped" id="carousel">
      <div id="slider" class="slider">
        <div class="card-image" style="max-height: 100%">
          <figure class="image">
            <img
              class="lazyload blur-up"
              src="<%=post.image[0].url%>"
              data-src="<%=post.image[0].url%>"
              alt=""
            />
          </figure>
        </div>
        <%for(var i = 1; i < post.image.length; i++){%>
        <div class="card-image slick-slide" style="max-height: 100%">
          <figure class="image">
            <img src="<%=post.image[i].url%>" alt="" />
          </figure>
        </div>
        <%}%>
      </div>
    </div>
        
              <%}%>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%=post.title%></p>
                    <p class="subtitle is-6"><%=post.body%></p>
                  </div>
                </div>
              </div>
              <header class="card-header" id="show-header" style="box-shadow: none">
                <div class="card-header-title">
                  <figure class="image is-48x48 mr-2">
                    <img class="is-rounded" src="<%=post.author.profile.avatar.url%> " alt="" />
                  </figure>
                  <div class="div">
                    <p class="title" style="
                        font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        margin-bottom: 0;
                      ">
                      <%=post.author.username%>
                    </p>
                    <p class="subtitle" style="
                        font-size: 12px;
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 0;
                      "><%=post.time%>
                    </p>
                  </div>
                </div>
                <div class="card-header-icon" id="show-icons">
                  <p>
                    <span class="<%=post.id%>"><%=post.likes.count%></span>
                  </p>
                  <div class="control">
                    <form class="like-form" action="" id="/posts/<%=post.id%>/likes">
                      <%var liked = 0;%> <%for(var i = 0 ; i < user.likedposts.length;
            i++){%> <%if((user.likedposts[i]).equals(post.id)){%>
                      <button>
                        <i class="fas fa-heart" id="like-<%=post.id%>"></i>
                      </button>
                      <%liked = 1;%> <%break;%> <%}%><%}%> <%if(liked === 0){%>
                      <button>
                        <i class="far fa-heart" id="like-<%=post.id%>"></i>
                      </button>
                      <%}%>
          </form>
        </div>
                  <p>
                    <span class="comments-count"><%=post.comments.length%></span>
                      </p>
                      <div class="control">
                        <a href="/posts/<%=post.id%>"><button><i class="far fa-comment-alt"></i></button></a>
                      </div>
                  </div>
              </header>
            </div>
            <% }%>
            <% } else {%>
            <div class="columns is-centered">
              <div class="column is-half">
                <div>
                  <img
                    src="https://64.media.tumblr.com/3c9cc0ea3aec71364e004a17e0ec1035/tumblr_inline_p26bt1b16s1regu9d_640.png" />
                </div>
                <div class="has-text-centered">
                  No posts found.
                </div>
              </div>
            </div>
            <% } %>
          </div>
      </div>
    </div>
  </div>
  </section>
  <%-include('../partials/footer')%>
  </section>
  <script>
    if ($(".pageloader").length) {
      $(".pageloader").toggleClass("is-active");
      $(window).on("load", function () {
        var pageloadtime = setTimeout(function () {
          $(".pageloader").toggleClass("is-active");
          clearTimeout(pageloadtime);
        }, 1000);
      });
    }
  </script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/form-validation.js"></script>
  <script src="/scripts/signup-validation.js"></script>
  <script>
    $(document).ready(function () {
      $(".slider").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
      });
    });
  </script>
  <script src="/scripts/like.js"></script>
</body>
</html>