<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
  <div
    class="column is-three-quarters-mobile is-three-quarters-tablet is-half-desktop"
    style="padding: 0"
  >
    <div class="card mb-5">
      <div class="card-content">
        <p class="title"><%=comment.body%></p>
      </div>
    </div>
    <%for(let child of comment.childs){%>
    <div class="card mb-5">
      <div class="card-content">
        <p class="title"><%=child.body%></p>
        <form
          action="/posts/<%=post.id%>/comments/<%=child.id%>?_method=DELETE"
          method="POST"
        >
          <button class="button is-danger">Delete</button>
        </form>
        <form action="/posts/<%=post.id%>/comments/<%=child.id%>" method="POST">
          <label class="label" for="comment">Add a comment..</label>
          <div class="control" style="display: flex">
            <input
              class="input mr-2"
              type="text"
              name="comment[body]"
              id="comment"
              placeholder="comment.."
              autofocus
            />
            <button class="button is-primary" type="submit">
              <span class="icon mt-2" style="font-size: 1.8rem; float: right"
                ><i class="far fa-comment"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <% }%>
  </div>
</div>
