<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"
    ></script>
    <script src="/scripts/sendmail.js"></script>
    <script
      src="https://kit.fontawesome.com/59ef493f57.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>new post</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/boiler.css" />
    <link rel="stylesheet" href="/stylesheets/fnav.css" />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
  </head>
  <body
    class="is-flex is-flex-direction-column"
    id="contact-body"
    style="height: 100vh"
  >
    <div class="pageloader is-light">
      <span class="title">Loading...</span>
    </div>
    <%-include('../partials/newmodal')%>
    <div class="hero is-medium" style="z-index: 30">
      <div class="hero-head"><%-include('../partials/fnavbar')%></div>

      <div class="hero-body mt-5">
        <div class="content has-text-centered">
          <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
            Get in touch with us
          </p>
          <p class="subtitle" style="text-shadow: 1px 0.5px 3px #808080">
            <span class="icon"><i class="fas fa-map-marker"></i></span>
            Rourkela, Odisha
          </p>
          <!-- <p class="subtitle" style="text-shadow: 1px 0.5px 3px #808080">
            <span class="icon"><i class="fas fa-phone"></i></span> 8144039325
          </p>
          <p class="subtitle" style="text-shadow: 1px 0.5px 3px #808080">
            <span class="icon"><i class="fab fa-whatsapp"></i></span> 8144039325
          </p> -->
        </div>

        <div
          class="container is-max-desktop is-justify-content-center column is-half-desktop is-three-quarters-tablet"
        >
          <div
            class="notification is-success mt-3"
            id="contact-nf"
            style="z-index: 100; display: none"
          >
            <button class="delete"></button>
            Thanks for contacting us...
          </div>
          <div
            class="card"
            style="
              background-color: rgba(255, 255, 255, 0.15);
              backdrop-filter: blur(5px);
            "
          >
            <div class="card-content">
              <form action="/email" method="POST">
                <div class="field">
                  <label for="subject" class="label">Subject</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="subject"
                      name="subject"
                      placeholder="subject"
                    />
                  </div>
                </div>
                <div class="field" style="display: none">
                  <div class="control">
                    <input
                      class="input"
                      type="email"
                      id="email"
                      name="email"
                      value="<%=user.email%>"
                      placeholder="<%=user.email%>"
                    />
                  </div>
                </div>
                <div class="field" style="display: none">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="username"
                      name="username"
                      value="<%=user.username%>"
                      placeholder="<%=user.username%>"
                    />
                  </div>
                </div>
                <div class="field">
                  <label for="text" class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      name="text"
                      id="text"
                      cols="30"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button
                      class="button is-dark"
                      type="submit"
                      onclick="sendMail();"
                      disabled="true"
                      id="mail-btn"
                    >
                      Contact Us
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="line line-1">
      <div class="wave wave-1" style="background: url(/assets/1.png)"></div>
    </div>
    <div class="line line-2">
      <div class="wave wave-2" style="background: url(/assets/2.png)"></div>
    </div>
    <div class="line line-3">
      <div class="wave wave-3" style="background: url(/assets/3.png)"></div>
    </div>
    <script>
      if ($(".pageloader").length) {
        $(".pageloader").toggleClass("is-active");
        $(window).on("load", function () {
          var pageloadtime = setTimeout(function () {
            $(".pageloader").toggleClass("is-active");
            clearTimeout(pageloadtime);
          }, 1000);
        });
      }
    </script>
    <script>
      // $(document).ready(function () {
      var subvalidated = false;
      var mssgvalidated = false;

      $("#subject").on("input", function (e) {
        // alert(subvalidated + ", " + mssgvalidated);
        if ($("#subject").val() !== "" && $("#subject").val().length > 3) {
          subvalidated = true;
        } else {
          subvalidated = false;
        }
        checkbtn();
      });

      $("#text").on("input", function (e) {
        // alert(subvalidated + ", " + mssgvalidated);
        if ($("#text").val() !== "" && $("#text").val().length > 10) {
          mssgvalidated = true;
        } else {
          mssgvalidated = false;
        }
        checkbtn();
      });

      function checkbtn() {
        if (subvalidated && mssgvalidated) {
          $("#mail-btn").attr("disabled", false);
        } else {
          $("#mail-btn").attr("disabled", true);
        }
      }
      // });
    </script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/form-validation.js"></script>
  </body>
</html>
