<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>new post</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/boiler.css" />
    <link rel="stylesheet" href="/stylesheets/fnav.css" />
  </head>
  <body class="is-flex is-flex-direction-column" style="height: 100vh">
    <!-- <div class="pageloader is-light"><span class="title">Loading...</span></div> -->
    <%-include('../partials/fnavbar')%><%-include('../partials/searchmodal')%>
    <section>
      <main class="container" style="margin-top: 3rem">
        <div
          class="container is-max-desktop is-justify-content-center column is-half-desktop is-three-quarters-tablet is-full-mobile"
        >
          <div class="box" id="edit-box" style="height: 100%">
            <h1 class="title has-text-centered" id="edit-title">Edit Post</h1>
            <form
              action="/posts/<%=post.id%>?_method=PUT"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="field">
                <div class="control has-icons-right">
                  <input
                    class="input is-success edit-title"
                    type="text"
                    id="title"
                    name="post[title]"
                    value="<%=post.title%>"
                    required
                  />
                  <span class="icon is-small is-right">
                    <i
                      class="fas fa-check"
                      id="edittitleSuccessIcon"
                      style="display: block"
                    ></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i
                      class="fas fa-exclamation-triangle"
                      id="edittitleErrorIcon"
                      style="display: none"
                    ></i>
                  </span>
                  <p
                    id="edittitle_error"
                    class="help is-error"
                    style="
                      display: none;
                      font-family: 'Courier New', Courier, monospace;
                      font-size: medium;
                    "
                  >
                    Give a nice title to your post
                  </p>
                </div>
              </div>
              <div class="field">
                <div id="file-edit" class="file has-name is-fullwidth">
                  <label class="file-label">
                    <input
                      class="file-input"
                      type="file"
                      name="image"
                      multiple
                    />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label"> Add new images... </span>
                    </span>
                    <span class="file-name"></span>
                  </label>
                </div>
              </div>
              <div class="field">
                <div class="control has-icons-right">
                  <textarea
                    class="textarea is-success edit-area"
                    rows="2"
                    id="body edit-body"
                    name="post[body]"
                    required
                  >
<%=post.body%>
                  </textarea>
                  <p
                    id="editbody_error"
                    class="help is-error"
                    style="
                      display: none;
                      font-family: 'Courier New', Courier, monospace;
                      font-size: medium;
                    "
                  >
                    a post without body is nonsense
                  </p>
                </div>
              </div>

              <% post.image.forEach(function(img, i) { %>
              <div class="field is-grouped">
                <div class="control">
                  <figure class="image is-96x96">
                    <img
                      src="<%=img.url%>"
                      alt=""
                      style="width: 96px; height: 96px"
                    />
                  </figure>
                </div>
                <div class="control">
                  <input
                    type="checkbox"
                    id="image-<%=i%>"
                    name="deleteImages[]"
                    value="<%=img.filename%>"
                  />
                  <label for="image-<%=i%>">Delete</label>
                </div>
              </div>
              <% }) %>
              <div class="field is-grouped is-grouped-right">
                <div class="control" id="edit-btns">
                  <button id="Edit-Btn" type="submit" class="button is-link">
                    save changes
                  </button>
                  <a class="button is-outlined" href="/posts/<%=post.id%>"
                    >cancel</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
    </section>
    <%-include('../partials/footer')%>
    <script>
      if ($(".pageloader").length) {
        $(".pageloader").toggleClass("is-active");
        $(window).on("load", function () {
          var pageloadtime = setTimeout(function () {
            $(".pageloader").toggleClass("is-active");
            clearTimeout(pageloadtime);
          }, 1000);
        });
      }
    </script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/modal.js"></script>
    <script>
      const fileInput2 = document.querySelector("#file-edit input[type=file]");
      fileInput2.onchange = () => {
        if (fileInput2.files.length > 0) {
          const fileName2 = document.querySelector("#file-edit .file-name");
          fileName2.textContent = fileInput2.files[0].name;
        }
      };
    </script>
    <script src="/scripts/form-validation.js"></script>
    <script src="/scripts/form-validation.js"></script>
    <script src="/scripts/edit-validation.js"></script>
  </body>
</html>
