<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters-mobile is-half-tablet">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://bulma.io/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=post.author%></p>
            <p class="subtitle is-6"><%=post.title%></p>
          </div>
        </div>

        <div class="content">
          <%=post.body%> <a>@bulmaio</a>. <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
      <footer class="card-footer">
        <a
          class="card-footer-item"
          href="/posts/<%=post.id%>/edit"
          id="btn-edit-modal"
          ><button class="button">
            <span class="icon">
              <i class="fas fa-pen-square"></i>
            </span>
            <span>Edit</span>
          </button></a
        >
        <a class="card-footer-item" href="#">
          <form action="/posts/<%=post.id%>?_method=DELETE" method="POST">
            <button class="button">
              <span class="icon"><i class="fas fa-trash-alt"></i></span
              ><span>Delete</span>
            </button>
          </form></a
        >
      </footer>
    </div>
  </div>
</div>
