<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
  <div
    class="column is-three-quarters-mobile is-three-quarters-tablet is-half-desktop"
    style="padding: 0"
  >
    <div class="card mb-5">
      <header class="card-header" style="box-shadow: none">
        <div class="card-header-title">
          <figure class="image is-48x48 mr-2">
            <img
              class="is-rounded"
              src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
              alt=""
            />
          </figure>
          <p
            class="title"
            style="font-size: 15px; font-family: 'Open Sans', sans-serif"
          >
            @<%=post.author%>
          </p>
        </div>
        <div class="card-header-icon">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu4"
                style="border: none"
              >
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a href="/posts/<%=post.id%>/edit" class="dropdown-item">
                  <button class="button" style="border: none">
                    <span class="icon">
                      <i class="fas fa-pen-square"></i>
                    </span>
                    <span>Edit</span>
                  </button>
                </a>
                <a href="#" class="dropdown-item">
                  <form
                    action="/posts/<%=post.id%>?_method=DELETE"
                    method="POST"
                  >
                    <button class="button" style="border: none">
                      <span class="icon"><i class="fas fa-trash-alt"></i></span
                      ><span>Delete</span>
                    </button>
                  </form></a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <%if(post.image.length == 0){%>
      <div class="card-image" style="display: none"></div>
      <%}else if(post.image.length == 1){%>
      <div class="card-image" style="max-height: 100%">
        <figure class="image is-3by3">
          <img src="<%=post.image[0].url%>" alt="" />
        </figure>
      </div>
      <%}else{%>
      <div class="container is-clipped">
        <div id="slider">
          <%for(var i = 0; i < post.image.length; i++){%>
          <div class="card-image" style="max-height: 100%">
            <figure class="image is-3by3">
              <img src="<%=post.image[i].url%>" alt="" />
            </figure>
          </div>
          <%}%>
        </div>
      </div>
      <%}%>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4" style="font-family: 'Open Sans', sans-serif">
              <%=post.title%>
            </p>
            <p class="subtitle is-6"><%=post.body%></p>
          </div>
        </div>
        <div class="content">
          <div class="media">
            <div class="media-left">
              <a href="#" class=""
                ><span
                  class="icon"
                  style="font-size: 1.5em; margin-right: 0.25em; color: black"
                  ><i class="far fa-heart" id="like" style="display: block"></i
                  ><i
                    class="fas fa-heart"
                    id="dislike"
                    style="display: none"
                  ></i></span
              ></a>
            </div>
          </div>
        </div>
        <div class="content"></div>
      </div>
      <footer class="card-footer" style="border-top: none">
        <div class="field pl-3 pb-3 pr-3" style="width: 100%">
          <form action="#">
            <label class="label" for="comment">Add a comment..</label>
            <div class="control" style="display: flex">
              <input
                class="input mr-2"
                type="text"
                name=""
                id="comment"
                placeholder="comment.."
                autofocus
              />
              <span class="icon mt-2" style="font-size: 1.8rem; float: right"
                ><i class="far fa-comment"></i
              ></span>
            </div>
          </form>
        </div>
      </footer>
    </div>
    <div class="card"></div>
  </div>
</div>
