<% layout('layout/boilerplate') -%>
<!-- <div class="pageloader is-dark"><span class="title">Loading...</span></div> -->
<div class="columns is-mobile is-centered">
  <div
    class="column is-three-quarters-mobile is-three-quarters-tablet is-half-desktop"
    style="padding: 0"
  >
    <div class="card mb-5">
      <header class="card-header" style="box-shadow: none">
        <div class="card-header-title">
          <figure class="image is-48x48 mr-2">
            <img
              class="is-rounded"
              src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
              alt=""
            />
          </figure>
          <p
            class="title"
            style="font-size: 15px; font-family: 'Open Sans', sans-serif"
          >
            @<%=post.author%>
          </p>
        </div>
        <div class="card-header-icon">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu4"
                style="border: none"
              >
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a href="/posts/<%=post.id%>/edit" class="dropdown-item">
                  <button class="button" style="border: none">
                    <span class="icon">
                      <i class="fas fa-pen-square"></i>
                    </span>
                    <span>Edit</span>
                  </button>
                </a>
                <a href="#" class="dropdown-item">
                  <form
                    action="/posts/<%=post.id%>?_method=DELETE"
                    method="POST"
                  >
                    <button class="button" style="border: none">
                      <span class="icon"><i class="fas fa-trash-alt"></i></span
                      ><span>Delete</span>
                    </button>
                  </form></a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <%if(post.image.length == 0){%>
      <div class="card-image" style="display: none"></div>
      <%}else if(post.image.length == 1){%>
      <div class="card-image" style="max-height: 100%">
        <figure class="image is-3by3">
          <img src="<%=post.image[0].url%>" alt="" />
        </figure>
      </div>
      <%}else{%>
      <div class="container is-clipped" id="carousel">
        <div id="slider" class="slider">
          <%for(var i = 0; i < post.image.length; i++){%>
          <div class="card-image" style="max-height: 100%">
            <figure class="image is-1by1">
              <img src="<%=post.image[i].url%>" alt="" />
            </figure>
          </div>
          <%}%>
        </div>
      </div>
      <%}%>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4" style="font-family: 'Open Sans', sans-serif">
              <%=post.title%>
            </p>
            <p class="subtitle is-6"><%=post.body%></p>
          </div>
        </div>
        <div class="content">
          <div class="media">
            <div class="media-left">
              <a href="#" class=""
                ><span
                  class="icon"
                  style="font-size: 1.5em; margin-right: 0.25em; color: black"
                  ><i class="far fa-heart" id="like" style="display: block"></i
                  ><i
                    class="fas fa-heart"
                    id="dislike"
                    style="display: none"
                  ></i></span
              ></a>
            </div>
          </div>
        </div>
        <div class="content"></div>
      </div>
      <footer class="card-footer" style="border-top: none">
        <div class="field pl-3 pb-3 pr-3" style="width: 100%">
          <form
            action="/posts/<%=post.id%>/comments"
            method="POST"
          >
            <label class="label" for="comment">Add a comment..</label>
            <div class="control" style="display: flex">
              <input
                class="input mr-2"
                type="text"
                name="comment[body]"
                id="comment"
                placeholder="comment.."
                autofocus
              />
              <button class="button is-primary" type="submit">
                <span class="icon mt-2" style="font-size: 1.8rem; float: right"
                  ><i class="far fa-comment"></i
                ></span>
              </button>
            </div>
          </form>
        </div>
      </footer>
    </div>
    <%if(cmnts.length > 0){%>
    <div class="card mb-5" id="comment-card">
      <%for(var i = 0; i < cmnts.length; i++){%> <%if(cmnts[i].parentId ==
      null){%>
      <div class="comment parent ml-1" id="<%=cmnts[i].id%>">
        <a href="#comment-1" class="comment-border-link">
          <span class="sr-only">Jump to comment-1</span>
        </a>
        <div class="comment-heading">
          <div class="comment-info" style="display: flex; flex-direction: row">
            <figure class="image is-24x24 mr-2">
              <img
                class="is-rounded"
                src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                alt=""
              />
            </figure>
            <a href="#" class="comment-author">someguy14</a>
          </div>
        </div>
        <div class="comment-body">
          <p class="title parent"><%=cmnts[i].body%></p>
          <form
            action="/posts/<%=post.id%>/comments/<%=cmnts[i].id%>"
            method="POST"
          >
            <label class="label" for="comment">Add a comment..</label>
            <div class="control" style="display: flex">
              <input
                class="input mr-2"
                type="text"
                name="comment[body]"
                id="comment"
                placeholder="comment.."
                autofocus
              />
              <button class="button is-primary" type="submit">
                <span class="icon mt-2" style="font-size: 1.8rem; float: right"
                  ><i class="far fa-comment"></i
                ></span>
              </button>
            </div>
          </form>
          <form
            action="/posts/<%=post.id%>/comments/<%=cmnts[i].id%>?_method=DELETE"
            method="POST"
          >
            <button class="button is-danger">Delete</button>
          </form>
          <a href="#" class="loadreplies" id="load-<%=cmnts[i].id%>">Load more replies</a>
          <!-- <button type="button">Reply</button>
          <button type="button">Flag</button> -->
        </div>

        <%loadChildComments(cmnts[i].id);%>
        
        <%function loadChildComments(pId){%>
        <div class="replies" style="display: block;" id="child-<%=cmnts[i].id%>">
        <%for (var k = 0; k < cmnts.length; k++) {%> <%if (cmnts[k].parentId ==
        pId) {%>
        
          <div class="comment">
            <a href="#comment-1" class="comment-border-link">
              <span class="sr-only">Jump to comment-1</span>
            </a>
            <div class="comment-heading">
              <div
                class="comment-info"
                style="display: flex; flex-direction: row"
              >
                <figure class="image is-24x24 mr-2">
                  <img
                    class="is-rounded"
                    src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                    alt=""
                  />
                </figure>
                <a href="#" class="comment-author">someguy14</a>
              </div>
            </div>
            <div class="comment-body">
              <p class="title"><%=cmnts[k].body%></p>
              <form
                action="/posts/<%=post.id%>/comments/<%=cmnts[k].id%>"
                method="POST"
              >
                <label class="label" for="comment">Add a comment..</label>
                <div class="control" style="display: flex">
                  <input
                    class="input mr-2"
                    type="text"
                    name="comment[body]"
                    id="comment"
                    placeholder="comment.."
                    autofocus
                  />
                  <button class="button is-primary" type="submit">
                    <span
                      class="icon mt-2"
                      style="font-size: 1.8rem; float: right"
                      ><i class="far fa-comment"></i
                    ></span>
                  </button>
                </div>
              </form>
              <form
                action="/posts/<%=post.id%>/comments/<%=cmnts[k].id%>?_method=DELETE"
                method="POST"
              >
                <button class="button is-danger">Delete</button>
              </form>
            </div>

            <%loadChildComments(cmnts[k].id);%>
          </div>

        <%}%> <%}%>
        </div> 
        <%return true;%> <%}%>
        
      </div>
      <%}%> <%}%>
    </div>
    <%}%>
  </div>
</div>
