<% layout('layout/boilerplate') -%>
<div
  class="container is-max-desktop column is-half-desktop is-three-quarters-tablet is-full-mobile"
  style="padding: 0"
>
  <div class="card mb-5" style="max-width: 500px; margin: auto">
    <header class="card-header">
      <div class="card-header-title">
        <figure class="image is-48x48 mr-2">
          <img
            class="is-rounded"
            src="<%=post.author.profile.avatar.url%>"
            alt=""
          />
        </figure>
        <div class="div">
          <a href="/user/profile/<%=post.author.username%>">
            <p
              class="title"
              style="
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 0;
              "
            >
              <%=post.author.username%>
            </p></a
          >

          <p
            class="subtitle"
            style="
              font-size: 12px;
              font-family: 'Open Sans', sans-serif;
              margin-top: 0;
            "
          >
            <%=post.time%>
          </p>
        </div>
      </div>
      <%if((post.author.id) === (user.id)){%>
      <div class="card-header-icon">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button
              class="dropdown-btn"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
              style="border: none"
            >
              <span class="icon is-small">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a href="/posts/<%=post.id%>/edit" class="dropdown-item">
                <button class="button" style="border: none">
                  <span class="icon">
                    <i class="fas fa-pen-square"></i>
                  </span>
                  <span class="is-hidden-mobile">Edit</span>
                </button>
              </a>
              <a href="#" class="dropdown-item">
                <form action="/posts/<%=post.id%>?_method=DELETE" method="POST">
                  <button class="button" style="border: none">
                    <span class="icon"><i class="fas fa-trash-alt"></i></span>
                    <span class="is-hidden-mobile">Delete</span>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
      <%}%>
    </header>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4" style="font-family: 'Open Sans', sans-serif">
            <%=post.title%>
          </p>
          <p class="subtitle is-6"><%=post.body%></p>
        </div>
      </div>
    </div>
    <%if(post.image.length == 0){%>
    <div class="card-image" style="display: none"></div>
    <%}else if(post.image.length == 1){%>
    <div class="card-image" style="max-height: 100%">
      <figure class="image">
        <img
          alt=""
          class="lazyload blur-up"
          src="<%=post.image[0].url%>"
          data-src="<%=post.image[0].url%>"
        />
      </figure>
    </div>
    <%}else{%>
    <div class="container is-clipped" id="carousel">
      <div id="slider" class="slider">
        <div class="card-image" style="max-height: 100%">
          <figure class="image">
            <img
              class="lazyload blur-up"
              src="<%=post.image[0].url%>"
              data-src="<%=post.image[0].url%>"
              alt=""
            />
          </figure>
        </div>
        <%for(var i = 1; i < post.image.length; i++){%>
        <div class="card-image slick-slide" style="max-height: 100%">
          <figure class="image">
            <img src="<%=post.image[i].url%>" alt="" />
          </figure>
        </div>
        <%}%>
      </div>
    </div>
    <%}%>
    <div class="card-content" style="padding: 0.5rem">
      <div class="media">
        <div class="media-left" id="showpost-icons">
          <!-- <a
            href=""
            data-action="share/whatsapp/share"
            class="link-whatsapp"
            id="wp-<%=post.id%>"
            >Share via WhatsApp</a
          > -->
        </div>
        <div class="media-content"></div>
        <div class="media-right is-flex" id="likes-container">
          <div class="likes-container is-flex">
            <p>
              <span class="<%=post.id%>"><%=post.likes.count%></span>
            </p>
            <div class="control likes mx-1">
              <form class="like-form" action="" id="/posts/<%=post.id%>/likes">
                <%var liked = 0;%> <%for(var i = 0 ; i < user.likedposts.length;
                i++){%> <%if((user.likedposts[i]).equals(post.id)){%>
                <button>
                  <i class="fas fa-heart" id="like-<%=post.id%>"></i>
                </button>
                <%liked = 1;%> <%break;%> <%}%><%}%> <%if(liked === 0){%>
                <button>
                  <i class="far fa-heart" id="like-<%=post.id%>"></i>
                </button>
                <%}%>
              </form>
            </div>
          </div>
          <div class="comments-container is-flex">
            <p>
              <span class="comments-count"><%=cmnts.length%></span>
            </p>
            <div class="control">
              <button><i class="far fa-comment-alt"></i></button>
            </div>
          </div>
          <div class="share-container is-flex">
            <p>
              <span class="share-count">0</span>
            </p>
            <div class="control">
              <button><i class="fas fa-share-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <div class="field pl-3 pb-3 pr-3" style="width: 100%">
        <form id="form-1" action="/posts/<%=post.id%>/comments" method="POST">
          <div class="control mt-2" style="display: flex">
            <input
              class="input mr-2 cmnt1 comment-input"
              type="text"
              name="comment[body]"
              id="comment"
              placeholder="Add a comment.."
              autocomplete="off"
            />
            <button id="Btn1" type="submit" disabled="true">POST</button>
          </div>
        </form>
      </div>
    </footer>
  </div>
  <%if(cmnts.length > 0){%>
  <div class="card mb-5" id="comment-card">
    <%for(var i = 0; i < cmnts.length; i++){%> <%if(cmnts[i].parentId ==
    null){%>
    <div class="comment parent ml-1" id="<%=cmnts[i].id%>">
      <a href="#" class="comment-border-link">
        <span class="sr-only">Jump to comment-1</span>
      </a>
      <div class="comment-heading">
        <div class="comment-info" style="display: flex; flex-direction: row">
          <figure class="image is-32x32 mr-2">
            <img
              class="is-rounded"
              src="<%=cmnts[i].author.profile.avatar.url%>"
              alt=""
            />
          </figure>
          <ul>
            <li>
              <p
                class="title"
                style="
                  font-size: 13px;
                  font-family: 'Open Sans', sans-serif;
                  margin-bottom: 0;
                "
              >
                <a
                  href="/user/profile/<%=cmnts[i].author.username%>"
                  class="comment-author"
                  style="
                    font-size: 12px;
                    font-family: 'Open Sans', sans-serif;
                    margin-top: 0;
                  "
                  ><%=cmnts[i].author.username%></a
                >
              </p>
            </li>
            <li>
              <p
                class="subtitle"
                style="
                  font-size: 10px;
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 0;
                "
              >
                <%=cmnts[i].time%>
              </p>
            </li>
          </ul>
        </div>
        <%if((cmnts[i].author.id) === (user.id)){%>
        <div class="comment-heading-icon">
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button
                aria-haspopup="true"
                aria-controls="dropdown-menu4"
                style="border: none"
              >
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  <form
                    action="/posts/<%=post.id%>/comments/<%=cmnts[i].id%>?_method=DELETE"
                    method="POST"
                  >
                    <button class="button" style="border: none">
                      <span class="icon"><i class="fas fa-trash-alt"></i></span
                      ><span>Delete</span>
                    </button>
                  </form>
                </a>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <div class="comment-body">
        <p class="caption parent"><%=cmnts[i].body%></p>
        <button type="button" id="Btn-<%=cmnts[i].id%>" class="comment-reply">
          <i class="fas fa-reply"></i>
        </button>
        <div class="field" id="reply-<%=cmnts[i].id%>" style="display: none">
          <form
            action="/posts/<%=post.id%>/comments/<%=cmnts[i].id%>"
            method="POST"
          >
            <div class="control" style="display: flex">
              <input
                class="input mr-2 comment-input comment-post"
                type="text"
                name="comment[body]"
                id="comment-<%=cmnts[i].id%>"
                placeholder="Add a comment.."
                autocomplete="off"
              />
              <button
                class="button is-light"
                type="submit"
                id="post-<%=cmnts[i].id%>"
                disabled
              >
                POST
              </button>
            </div>
          </form>
        </div>
      </div>

      <%loadChildComments(cmnts[i].id);%> <%function loadChildComments(pId){%>
      <div class="replies" style="display: block" id="child-<%=cmnts[i].id%>">
        <%for (var k = 0; k < cmnts.length; k++) {%> <%if (cmnts[k].parentId ==
        pId) {%>

        <div class="comment">
          <a href="#" class="comment-border-link">
            <span class="sr-only">Jump to comment-1</span>
          </a>
          <div class="comment-heading">
            <div
              class="comment-info"
              style="display: flex; flex-direction: row"
            >
              <figure class="image is-32x32 mr-2">
                <img
                  class="is-rounded"
                  src="<%=cmnts[k].author.profile.avatar.url%>"
                  alt=""
                />
              </figure>
              <ul>
                <li>
                  <p
                    class="title"
                    style="
                      font-size: 13px;
                      font-family: 'Open Sans', sans-serif;
                      margin-bottom: 0;
                    "
                  >
                    <a
                      href="/user/profile/<%=cmnts[i].author.username%>"
                      class="comment-author"
                      style="
                        font-size: 12px;
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 0;
                      "
                      ><%=cmnts[k].author.username%></a
                    >
                  </p>
                </li>
                <li>
                  <p
                    class="subtitle"
                    style="
                      font-size: 10px;
                      font-family: 'Open Sans', sans-serif;
                      margin-top: 0;
                    "
                  >
                    <%=cmnts[k].time%>
                  </p>
                </li>
              </ul>
            </div>
            <%if((cmnts[k].author.id) === (user.id)){%>
            <div class="comment-heading-icon">
              <div class="dropdown is-hoverable is-right">
                <div class="dropdown-trigger">
                  <button
                    aria-haspopup="true"
                    aria-controls="dropdown-menu4"
                    style="border: none"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      <form
                        action="/posts/<%=post.id%>/comments/<%=cmnts[k].id%>?_method=DELETE"
                        method="POST"
                      >
                        <button class="button" style="border: none">
                          <span class="icon"
                            ><i class="fas fa-trash-alt"></i></span
                          ><span>Delete</span>
                        </button>
                      </form>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
          <div class="comment-body">
            <p class="caption"><%=cmnts[k].body%></p>
            <button
              type="button"
              id="Btn-<%=cmnts[k].id%>"
              class="comment-reply"
            >
              <span class="icon"><i class="fas fa-reply"></i></span>
            </button>
            <div
              class="field"
              id="reply-<%=cmnts[k].id%>"
              style="display: none"
            >
              <form
                action="/posts/<%=post.id%>/comments/<%=cmnts[k].id%>"
                method="POST"
              >
                <div class="control" style="display: flex">
                  <input
                    class="input mr-2 comment-input comment-post"
                    type="text"
                    name="comment[body]"
                    id="comment-<%=cmnts[k].id%>"
                    placeholder="Add a comment.."
                    autocomplete="off"
                  />
                  <button type="submit" id="post-<%=cmnts[k].id%>" disabled>
                    POST
                  </button>
                </div>
              </form>
            </div>
          </div>

          <%loadChildComments(cmnts[k].id);%>
        </div>

        <%}%> <%}%>
      </div>
      <%return true;%> <%}%>
    </div>
    <%}%> <%}%>
  </div>
  <%}else{%>
  <div class="box has-text-centered" style="box-shadow: none; border: none">
    <img
      src="/assets/nocomments.png"
      alt=""
      style="width: 200px; height: 200px"
    />
  </div>
  <%}%>
</div>
